@import url("http://fonts.googleapis.com/css?family=Quicksand:400,300");

html {
    height: 100%;
}

body {
    height: 100%;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box {
    margin: auto;
}

.jumbotron {
    text-align: center;
    padding: 70px 80px 40px 80px;
    opacity: 0.9;
}

.portrait {
    height: 130px;
    width: 130px;
    margin-bottom: 25px;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 35px;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 25px;
}

h5 {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #52483E;
}

nav {
    align-text: right;
    padding: 12px;
    margin-top: 40px;
}

nav a {
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin: 10px;
}

nav a:hover {
    color: #F0F0F0;
    text-decoration: none;
}

.tag {
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 6px;
}

.tag p {
    margin: 6px 14px 6px 14px;
    color: #FFFFFF;
}

.tag1 {
    background-color: #355F6A;
}

.tag2 {
    background-color: #56B49C;
}

.tag3 {
    background-color: #997944;
}

.tag4 {
    background-color: #C6AA2D;
}

.tag5 {
    background-color: #F16531;
}

.tag6 {
    background-color: #F03236;
}

.taglink {
    background-color: #F03236;
}

.taglink:hover {
    background-color: #F03936;
}

.icon {
    height: 0.75em;
}

p a {
    color: black;
    text-decoration: none;
    font-weight: 400;
}

p a:hover {
    color: black;
    font-weight: 300;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h5 {
        font-size: 14px;
    }
    
    p {
        font-size: 12px;
    }
}
