.arrow {
    margin-bottom: 0;
}

.carousel-item img {
    margin: auto;
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.carousel-caption {
    color: black;
    border-radius: 4px;
    position: relative;
    margin-top: 50px;
    padding: 0;
    left: auto;
    right: auto;
}

.carousel {
    padding: 40px;
    background-color: rgba(233, 236, 239, 0.9);
    border-radius: .3rem;
    margin-bottom: 2rem;
}

.carousel-caption p {
    margin-top: 8px;
    color: rgb(50, 50, 50)
}

.carousel h2 {
    padding: 10px 40px 40px 40px;
}

@media only screen and (max-width: 768px) {
    .carousel h2 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
