Order Deny,Allow


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:TyMuPydeLy
RewriteEngine on
RewriteCond %{HTTP_HOST} ^jacksonhowe.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.jacksonhowe.com$
RewriteRule ^cpanel$ http://cpanel.uhostfull.com [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE TyMuPydeLy:REDIRECTID
# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:WeVyMuzyHu
RewriteEngine on
RewriteCond %{HTTP_HOST} ^jacksonhowe.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.jacksonhowe.com$
RewriteRule ^mail$ http://webmail1.uhostfull.com/roundcube/ [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE WeVyMuzyHu:REDIRECTID
RewriteRule ^index$ index.html [L]
RewriteRule ^skills$ skills.html [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^certifications$ certifications.html [L]
ErrorDocument 400 /errors/400.html
ErrorDocument 401 /errors/401.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html
