@import url("http://fonts.googleapis.com/css?family=Quicksand:400,700|Shadows+Into+Light|Inika");

body {
    margin: 0;
}

.background {
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100%;
    border: 0;
}

.background img {
    height:100%;
    width:100%;
}

.header {
    position: absolute;
    height: 250px;
    width: 100%;
    opacity: 0.75;
    background-color: #FFFFFF;
    display: table;
    margin: 0;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.header h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 85px;
    padding: 0;
    margin: 0;
}

.header h1 a {
    text-decoration: none;
    color: black;
}

.header p {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 350px;
    top: 250px;
    opacity: 0.8;
    background-color: #606060;
    display: table;
    text-align: center;
}

.navbar .mobilecenter {
    display: table-cell;
    vertical-align: middle;
}

.navbar p {
    display: block;
    padding: 0 0 0 0;
}

.navbar a {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-decoration: none;
    color: white;
    transition: color 0.25s linear;
}

.navbar .active {
    font-weight: 700;
}

.navbar a:hover {
    color: #C0C0C0;
}

.master {
    position: absolute;
    width: 100%;
    top: 600px;
}

.master p {
    margin: 0;
}

#twitter {
	position: absolute;
	width: 25%;
	height: 500px;
	left: 0%;
	top: 0px;
	background-color: #55ACEE;
    margin-top: -1px;
}

#skype {
	position: absolute;
	width: 25%;
	height: 500px;
	left: 25%;
	top: 0px;
	background-color: #75AB00;
    margin-top: -1px;
}

#linkedin {
	position: absolute;
	width: 25%;
	height: 500px;
	left: 50%;
	top: 500px;
	background-color: #1274B3;
    margin-top: -1px;
}

#googleplus {
	position: absolute;
	width: 25%;
	height: 500px;
	left: 75%;
	top: 500px;
	background-color: #CC3333;
    margin-top: -1px;
}

.mediabutton {
    text-align: center;
}

.mediabutton img {
    width: 75%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: width 0.5s;
}

.caption {
    position: absolute;
    width: 80%;
    left: 10%;
    z-index: 2;
    opacity: 0.75;
    text-align: center;
    color: white;
    background-color: black;
    padding: 8px 0 8px 0;
    border-radius: 6px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 20px;
    top: 85%;
    -webkit-transform: translateY(-85%);
    -ms-transform: translateY(-85%);
    transform: translateY(-85%);
}

.mediabutton .caption a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#mail {
	position: absolute;
	width: 42%;
	height: 500px;
	left: 50%;
	top: 0px;
	background-color: #FFFFFF;
    opacity: 0.9;
    margin-top: -1px;
}

#phone {
	position: absolute;
	width: 42%;
	height: 500px;
	left: 0%;
	top: 500px;
	background-color: #FFFFFF;
    opacity: 0.9;
    margin-top: -1px;
}

.mediaform {
    padding: 0 4% 0px 4%;
    text-align: center;
}

.mediaform h2 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.mediaform p {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 10px;
}

.mediaform input,
.mediaform textarea,
.mediaform select,
.mediaform button {
    width: 100%;
    text-align: center;
    margin: 6px 0 6px 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: #C0C0C0;
    border: none;
    border-radius: 3px;
    color: black;
}

.mediaform input,
.mediaform button,
.mediaform select {
    height: 30px;
}

.mediaform input:focus,
.mediaform textarea:focus {
    border: 2px solid #A0A0A0;
}

.mediaform button {
    background-color: #A0A0A0;
    cursor: pointer;
}

.mediaform button:hover {
    background-color: #C0C0C0;
}

input::-webkit-input-placeholder {
    color: black;
    font-weight: 300;
}

textarea::-webkit-input-placeholder {
    color: black;
    font-weight: 300;
}

input::-moz-placeholder {
    color: black;
    font-weight: 300;
}

textarea::-moz-placeholder {
    color: black;
    font-weight: 300;
}

input:-moz-placeholder {
    color: black;
    font-weight: 300;
}

textarea:-moz-placeholder {
    color: black;
    font-weight: 300;
}

input:-ms-input-placeholder {
	color: black;
    font-weight: 300;
}

textarea:-ms-input-placeholder {
	color: black;
    font-weight: 300;
}

textarea {
    resize: none;
}

form .step2, form .phonestep2 {
    display: none;
}

.footer {
    position: absolute;
    width: 80%;
    top: 1000px;
    background-color: #272727;
    opacity: 1;
    padding: 40px 10% 40px 10%;
    color: #A0A0A0;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.footer .left {
    display: inline-block;
    float: left;
}

.footer .right {
    display: inline-block;
    float: right;
}

.footer a {
    color: #A0A0A0;
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s linear;
}

.footer a:hover {
    color: white;
    font-weight: 400;
}