# Error documents
ErrorDocument 400 /errors/400.html
ErrorDocument 401 /errors/401.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html

# Prevents directory browsing
Options All -Indexes
DirectoryIndex index.php

# Remove .php extensions
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L]

# Cache- html and htm files
<FilesMatch ".(html|htm)$">
Header unset Cache-Control
</FilesMatch>

# Cache- script files
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>

# Cache- css, javascript and text files
<FilesMatch ".(js|css|txt)$">
Header unset Cache-Control
</FilesMatch>

#cache flash and images for one month
<FilesMatch ".(flv|swf|ico|gif|jpg|jpeg|png)$">
Header set Cache-Control "max-age= 604800"
</FilesMatch>