@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

body{
	margin: 0;
}

.block {
	background-color: blue;
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	cursor: pointer;
}

.background {
	background-color: red;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	cursor: pointer;
}

.links {
	position: absolute;
	text-align: center;
	width: 80%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 10px 10%;
}

.links a {
	color: white;
	text-decoration: none;
	opacity: 0.9;
}

.links a:hover {
	opacity: 1;
}

.links a:after {
	content: " | ";
	opacity: 0.9;
}

.links a:last-child:after {
	content: "";
}

.links a:last-child:hover {
	opacity: 0.9;
}

.links a:last-child {
	font-style: italic;
	cursor: default;
}